body {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(213, 223, 238);
}
.jumbotron { 
    background-image: url(Tottenham_Hotspur_Stadium_South_Stand.jpg);
    background-size: cover;
    color: whitesmoke;
}
.navbar {
    background-color: rgb(228, 198, 198);
}